$text-color: #8A8A8A;
$main-color: #050A3A;
$white: #FFF;

html{
	--text-color: #{$text-color};
	--main-color: #{$main-color};
	--white: #{$white};
	--bg-color: #{$white};
}

body{
	background-color: var(--bg-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	main {
		flex-grow: 1;
	}
}